<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Constructor project</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>rsrc</string>
				<string>RSRC</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppob</string>
				<string>rsrc</string>
				<string>ctyp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ConstructorDoc.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>APPL</string>
				<string>APPC</string>
				<string>APPE</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Constructor preferences</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>ConstructorPrefs.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pref</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ConstructorApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.metrowerks.Constructor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>MWC2</string>
	<key>CFBundleVersion</key>
	<string>2.6</string>
	<key>CFBundleShortVersionString</key>
	<string>Constructor version 2.6</string>
	<key>CFBundleGetInfoString</key>
	<string>Constructor v2.6, a Metrowerks CodeWarrior Component @ 1993-2005 Metrowerks Corporation</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.metrowerks.constructor.pp-objects</string>
			<key>UTTypeDescription</key>
			<string>PPob Resource File</string>
			<key>UTTypeIconFile</key>
			<string>ConstructorDoc.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppob</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.metrowerks.constructor.custom-type</string>
			<key>UTTypeDescription</key>
			<string>CTyp Resource File</string>
			<key>UTTypeIconFile</key>
			<string>ConstructorDoc.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ctyp</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.resedit.resource-file</string>
			<key>UTTypeDescription</key>
			<string>ResEdit Resource File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>rsrc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.mathemaesthetics.resourcer.resource-file</string>
			<key>UTTypeDescription</key>
			<string>Resorcerer Resource File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>RSRC</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
